@import "banner";
@import "pilots";
@import "footer";
@import "tours";

.container {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}
.conten-wrapper {
  padding-bottom: 75px;
}
.back-top {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 14;
}